.App{
    display:flex;
    justify-content: space-around;
    background-color: rgb(1, 75, 172);
}

.val{
    border: 2px solid rgb(189, 188, 188);
    margin:10px;
    border-radius: 20px;
    background-color: beige;
  
    
}

.val:hover{
    margin-top: 5px;
   
}

hr{
    color: rgb(156, 155, 155);
}

p{
    padding-left: 20px;
    padding-right: 20px;
}

.pr{
    font-size:30px;
    display:inline;
}

button{
    position: relative;
    left:35%;
    margin-bottom:10px;
}


